
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d);
    /* background:rgba(10, 10, 30, 0.9); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    color: white;
}


#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}


canvas {
    border: 6px solid #fff;
    border-radius: 15px;
    background: linear-gradient(180deg, #00695c#004d40, );
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}


#menu {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(10, 10, 30, 0.9); */
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    text-align: center;
}

#menu h1 {
    font-size: 60px;
    margin-bottom: 20px;
    color: #ffeb3b;
    text-shadow: 2px 2px 10px black;
}

#menu p {
    font-size: 22px;
    margin-bottom: 30px;
    color: #f1f1f1;
}


.menu-btn {
    background: #00c9ff;
    border: none;
    padding: 15px 40px;
    margin: 15px;
    font-size: 22px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    font-weight: bold;
    box-shadow: 0 6px 20px rgba(0,0,0,0.4);
}

.menu-btn:hover {
    background: #92fe9d;
    transform: scale(1.08);
    box-shadow: 0 8px 30px rgba(0,0,0,0.6);
}


#bottom-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 3;
}

.bottom-btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #00695c;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.bottom-btn:hover {
    background-color: #004d40;
    transform: scale(1.05);
}